p{
  color:wheat;
  float:right;
}
h2{
  color:wheat;
}
h1{
    color:wheat;
  }
body{
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(121, 101, 160);
img{
   float:right;
  width:100px;
}
