@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
p{
  color:white;
  float:center;
}
h2{
  color:white;
}
h1{
    color:white;
  }
body{
  font-family: 'Source Code Pro', monospace;
  background-color:cornflowerblue;
}
img{
   float:left;
  width:100px;
  length:100px;
}
